{% extends "base.html" %}

{% block content %}
	<div class="ui centered container grid">
		<form class="ui form" method="post">
			{% csrf_token %}
			<h4 class="ui dividing header">Login</h4>
			<br>
			<div class="field">
				<label>Usuário</label>
				<div class="ui left icon input">
					<i class="user icon"></i>
					{{ form.username }}
					<br>
				</div>
			</div>

			<div class="field">
				<label>Senha</label>
				<div class="ui left icon input">
					<i class="lock icon"></i>
					{{ form.password }}
					<br>
				</div>
			</div>

			<input class="ui fluid large teal button" type="submit" value="Login">
		</form>
	</div>
{% endblock %}
