{% extends 'base.html' %}

{% block content %}
	<div class="ui container">
		<h4 class="ui dividing header">Cadastrar denúncia ambiental</h4>
		<a href="{% url 'denuncia:novo' %}" class="ui labeled icon button">
			<i class="teal plus icon"></i> Nova denúncia
		</a>

		<h4 class="ui dividing header">Pesquisar denúncia ambiental</h4>
		<form class="ui form" method="get" action="{% url 'denuncia:detalhe' %}">
			<div class="four fields">
				<div class="field">
					<label>Protocolo</label>
					<div class="ui action input">
						<input type="number" name="pk" id="pk" required autofocus>
						<button class="ui icon button" type="submit" data-content="Pesquisar">
							<i class="search icon"></i>
						</button>
					</div>
				</div>
			</div>
		</form>

		{% if user.is_authenticated %}
			<h3 class="ui center aligned dividing header">Lista de denúncias</h3>

			<table class="ui celled striped table">
				<thead>
					<th>Protocolo</th>
					<th>Nome</th>
					<th>Data de ocorrência</th>
					<th>Área de incidente</th>
					<th>Categoria de incidente</th>
					<th>Endereço</th>
					<th>Descrição</th>
					<th>Estado</th>
					<th>Ação</th>
				</thead>
				<tbody>
					{% for denuncia in object_list %}
						<tr>
							<td>{{ denuncia.pk }}</td>
							<td>{{ denuncia.usuario }}</td>
							<td>{{ denuncia.data_ocorrencia }}</td>
							<td>{{ denuncia.categoria_denuncia.area_denuncia }}</td>
							<td>{{ denuncia.categoria_denuncia }}</td>
							<td>{{ denuncia.localizacao.cep }}, {{ denuncia.localizacao.rua }}, {{ denuncia.localizacao.bairro }}, {{ denuncia.localizacao.complemento }}</td>
							<td>{{ denuncia.descricao }}</td>
							<td>{{ denuncia.estado_denuncia.nome }}</td>
							<td>
								<a href="{% url 'denuncia:atualizacao' denuncia.pk %}" class="ui compact icon button" data-content="Editar">
									<i class="teal edit icon"></i>
								</a>
								<form method="post" action="{% url 'denuncia:exclusao' %}" onsubmit="return confirm('Deseja realmente remover a denúncia?');">
									{% csrf_token %}
									<input type="hidden" name="pk" value="{{ denuncia.pk }}">
									<button class="ui compact icon button" type="submit" data-content="Remover">
										<i class="teal erase icon"></i>
									</button>
								</form>
								<form method="post" action="{% url 'denuncia:aceitacao' %}">
									{% csrf_token %}
									<input type="hidden" name="pk" value="{{ denuncia.pk }}">
									<button class="ui compact icon button" type="submit" data-content="Aceitar">
										<i class="teal checkmark icon"></i>
									</button>
								</form>
								<form method="post" action="{% url 'denuncia:rejeicao' %}">
									{% csrf_token %}
									<input type="hidden" name="pk" value="{{ denuncia.pk }}">
									<button class="ui compact icon button" type="submit" data-content="Rejeitar">
										<i class="teal remove icon"></i>
									</button>
								</form>
								<form method="post" action="{% url 'denuncia:encaminhamento' %}">
									{% csrf_token %}
									<input type="hidden" name="pk" value="{{ denuncia.pk }}">
									<button class="ui compact icon button" type="submit" data-content="Encaminhar ao órgão competente">
										<i class="teal external share icon"></i>
									</button>
								</form>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}

		<br>
		<br>

	</div>
{% endblock %}
