{% extends 'base.html' %}

{% block content %}
	<div class="ui form container">

		<b>Nº DE PROTOCOLO</b>: {{ object.pk }}
		<br>
		<b>ESTADO</b>: {{ object.estado_denuncia.nome }}
		<br>

		<h4 class="ui dividing header">Informações pessoais</h4>
		<div class="two fields">
			<div class="field">
				<label>Nome</label>
				{{ object.usuario.nome }}
			</div>
			<div class="field">
				<label>Email</label>
				{{ object.usuario.email }}
			</div>
		</div>

		<h4 class="ui dividing header">Localização da ocorrência</h4>
		<div class="three fields">
			<div class="field">
				<label>CEP</label>
				{{ object.localizacao.cep }}
			</div>
			<div class="field">
				<label>Número</label>
				{{ object.localizacao.numero }}
			</div>
			<div class="field">
				<label>Complemento</label>
				{{ object.localizacao.complemento }}
			</div>
		</div>

		<div class="two fields">
			<div class="field">
				<label>Rua</label>
				{{ object.localizacao.rua }}
			</div>
			<div class="field">
				<label>Bairro</label>
				{{ object.localizacao.bairro }}
			</div>
			<div class="field">
				<label>Cidade</label>
				{{ object.localizacao.cidade }}
			</div>
		</div>

		<h4 class="ui dividing header">Data e hora da ocorrência</h4>
		<div class="four fields">
			<div class="field">
				<label>Data e hora da ocorrência</label>
				{{ object.data_ocorrencia }}
			</div>
		</div>

		<h4 class="ui dividing header">Área, categoria e descrição da ocorrência</h4>
		<div class="two fields">
			<div class="field">
				<label>Área de incidente ambiental</label>
				{{ object.categoria_denuncia.area_denuncia.nome }}
			</div>
			<div class="field">
				<label>Categoria de incidente ambiental</label>
				{{ object.categoria_denuncia.nome }}
			</div>
		</div>

		<br>

		<div class="field">
			<label>Descrição</label>
			{{ object.descricao }}
		</div>

		{% if object.arquivodenuncia_set.all %}
			<div class="row">
				<h5>Arquivos</h5>
				<div class="ui medium image">
					{% for arquivo in object.arquivodenuncia_set.all %}
						<a href="{{ UPLOADS_URL }}{{ arquivo.nome }}">
							<img src="{{ UPLOADS_URL }}{{ arquivo.nome }}">
						</a>
					{% endfor %}
				</div>
			</div>
		{% endif %}

		<br>

		<div class="row" style="text-align: right;">
			<a href="{% url 'denuncia:consulta' %}" class="ui button">
				Voltar
			</a>
		</div>

	</div>
{% endblock %}
