{% extends 'base.html' %}

{% load static %}

{% block content %}
	<div class="ui container">
		<h3>Cadastro de denúncia ambiental</h3>

		<form class="ui form" method="post" enctype="multipart/form-data">
			{% csrf_token %}

			<h4 class="ui dividing header">Informações pessoais</h4>
			<div class="two fields">
				<div class="field">
					<label>Nome</label>
					<div class="ui input">
						{{ usuario_form.nome }}
					</div>
					{{ usuario_form.nome.errors }}
				</div>
				<div class="field">
					<label>Email</label>
					<div class="ui input">
						{{ usuario_form.email }}
					</div>
					{{ usuario_form.email.errors }}
				</div>
			</div>

			<h4 class="ui dividing header">Localização da ocorrência</h4>
			<div class="three fields">
				<div class="required field">
					<label>CEP</label>
					<div class="ui input">
						{{ localizacao_form.cep }}
					</div>
					{{ localizacao_form.cep.errors }}
				</div>
				<div class="field">
					<label>Número</label>
					<div class="ui input">
						{{ localizacao_form.numero }}
					</div>
					{{ localizacao_form.numero.errors }}
				</div>
				<div class="field">
					<div class="field">
						<label>Complemento</label>
						<div class="ui input">
							{{ localizacao_form.complemento }}
						</div>
						{{ localizacao_form.complemento.errors }}
					</div>
				</div>
			</div>

			<div class="three fields">

				<div class="required field">
					<label>Rua</label>
					<div class="ui input">
						{{ localizacao_form.rua }}
					</div>
					{{ localizacao_form.rua.errors }}
				</div>
				<div class="required field">
					<label>Bairro</label>
					<div class="ui input">
						{{ localizacao_form.bairro }}
					</div>
					{{ localizacao_form.bairro.errors }}
				</div>
				<div class="required field">
					<label>Cidade</label>
					<div class="ui input">
						{{ localizacao_form.cidade }}
					</div>
					{{ localizacao_form.cidade.errors }}
				</div>
			</div>

			<h4 class="ui dividing header">Data e hora da ocorrência</h4>
			<div class="four fields">
				<div class="required field">
					<label>Data</label>
					<div class="ui input">
						<input type="text" name="denuncia-data_ocorrencia_0" required id="id_denuncia-data_ocorrencia_0" />
					</div>
				</div>

				<div class="field">
					<label>Hora</label>
					<div class="ui input">
						<input type="text" name="denuncia-data_ocorrencia_1" required id="id_denuncia-data_ocorrencia_1" />
					</div>
				</div>

				{{ denuncia_form.data_ocorrencia.errors }}
			</div>

			<h4 class="ui dividing header">Área, categoria e descrição da ocorrência</h4>
			<div class="four fields">
				<div class="required field">
					<label>Área de incidente ambiental</label>
					<div class="ui input">
						{{ area_form.nome }}
					</div>
					{{ area_form.nome.errors }}
				</div>
			</div>

			<div class="field">
				<!-- Verifica se é a categoria selecionada para deixar a opção selecionada -->
				{% for area in area_form.nome.field.queryset %}
					{% if categoria_selecionada and categoria_selecionada.area_denuncia.pk == area.pk %}
						<div class="grouped required fields categorias" id="categorias-area-{{ area.pk }}">
					{% else %}
						<div class="grouped required fields categorias" id="categorias-area-{{ area.pk }}" style="display: none;">
					{% endif %}
					<label>Categoria de incidente ambiental</label>
					{% for categoria in denuncia_form.categoria_denuncia.field.queryset %}
						{% if area.pk == categoria.area_denuncia.pk %}
							{% if categoria_selecionada and categoria.pk == categoria_selecionada.pk %}
								<div class="field ui radio checkbox">
									<input type="radio" name="denuncia-categoria_denuncia" value="{{ categoria.pk }}" required checked id="id_denuncia-categoria_denuncia_{{ categoria.pk }}">
									<label for="id_denuncia-categoria_denuncia_{{ categoria.pk }}">{{ categoria.nome }}</label>
								</div>
							{% else %}
								<div class="field ui radio checkbox">
									<input type="radio" name="denuncia-categoria_denuncia" value="{{ categoria.pk }}" required id="id_denuncia-categoria_denuncia_{{ categoria.pk }}">
									<label for="id_denuncia-categoria_denuncia_{{ categoria.pk }}">{{ categoria.nome }}</label>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
						</div>
				{% endfor %}
			</div>

			<div class="field">
				<div class="required field">
					<label>Descrição</label>
					<div class="ui input">
						{{ denuncia_form.descricao }}
					</div>
					{{ denuncia_form.descricao.errors }}
				</div>
			</div>

			<div class="field">
				<h5>Arquivos</h5>
				<div class="field">
					<div class="ui input">
						{{ arquivo_form.arquivo }}
					</div>
				</div>
				{{ arquivo_form.arquivo.errors }}
			</div>

			<br>

			<button class="ui teal right floated submit button" type="submit">Salvar</button>
			<a href="{% url 'denuncia:consulta' %}" class="ui right floated button">Cancelar</a>

			<br>
		</form>
	</div>
{% endblock %}

{% block body_end_scripts %}
	<!-- pickadate -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.css" integrity="sha256-qy5YOtbp3hRs9hlLrvvwilLtl7VUsuu8pVtazzT35iE=" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.date.css" integrity="sha256-Ex8MCGbDP5+fEwTgLt8IbGaIDJu2uj88ZDJgZJrxA4Y=" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/themes/classic.time.css" integrity="sha256-YMdgaA06NFzVtgR4kHPSSt3nPXjlvVproWYsOE2whxk=" crossorigin="anonymous" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.js" integrity="sha256-A1y8n02GW5dvJFkEOX7UCbzJoko8kqgWUquWf9TWFS8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.date.js" integrity="sha256-rTh8vmcE+ZrUK3k9M6QCNZIBmAd1vumeuJkagq0EU3g=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/picker.time.js" integrity="sha256-vFMKre5X5oQN63N+oJU9cJzn22opMuJ+G9FWChlH5n8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/translations/pt_BR.js" integrity="sha256-H40uY4RQlkq3BeecUAj/cUzCc9kzZsrOHbY9q+WcvxM=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>

	<script type="text/javascript">
		$(function() {
			// pickadate
			$("#id_denuncia-data_ocorrencia_0").pickadate({
				format: "dd/mm/yyyy",
				editable: false,
				max: new Date(),
				onStart: function() {
					this.set('select', new Date());
				},
			});

			// pickatime
			$("#id_denuncia-data_ocorrencia_1").pickatime({
				format: "HH:i",
				editable: false,
				interval: 10,
				onStart: function() {
					this.set('select', '00:00');
				},
			});

			// Seleção dinâmica de áreas e categorias
			$("#id_area-nome").change(function() {
				$(".categorias").hide();
				id = "categorias-area-" + $(this).children(":selected").attr("value");
				$("#" + id).show();
			});

			// Semantic UI
			$('.ui.dropdown')
				.dropdown();

			$('.ui.checkbox')
				.checkbox();

			$('.mini.modal')
				.modal('setting', {duration: 200})
				.modal('show');

			$('.ui.form')
				.form({
					on: 'blur',
					inline : true,
					fields: {
						'id_usuario-email': {
							optional: true,
							rules: [{
								type: 'email',
								prompt: 'Informe um endereço de email válido.'
							}]
						},
						'id_area-nome': {
							rules: [{
								type: 'empty',
								prompt: 'Selecione uma área de incidente.'
							}]
						},
						'categorias': {
							identifier: 'categorias',
							rules: [{
								type: 'checked',
								prompt: 'Selecione uma categoria de incidente.'
							}]
						},
					}
				});

			// Máscara para o campo CEP
			$("input[id$='-cep']").mask("99999-999");
		});
	</script>

	<script src="{% static 'js/cep.js' %}"></script>
{% endblock body_end_scripts %}
